<div class="jumbotron">
    <h1>Yo, got pictures? <small>('cause we got albums)</small></h1>

    <p>That's right. Motherfucking albums, with your motherfucking pictures. Also, this ain't Pinterest.</p>

    <a href="#/upload" class="btn btn-primary" ng-click="isItPinterest()">Is it Pinterest though?</a>
</div>

<hr>

<p class="lead">Our albums have thumbnails, and your pictures could be in them, like this:</p>

<div class="row">
    <div class="col-xs-6 col-md-3 col-lg-3">
        <a href="#" class="thumbnail">
            <img src="images/thumbnails/image1.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <a href="#" class="thumbnail">
            <img src="images/thumbnails/image2.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <a href="#" class="thumbnail">
            <img src="images/thumbnails/image3.jpg">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <a href="#" class="thumbnail">
            <img src="images/thumbnails/image4.png">
        </a>
    </div>

    <div class="row text-center">
        <a href="#/upload" class="btn btn-primary" ng-click="whyIsThePinterestLogoInTheThumbnails()">Why is the Pinterest logo here?</a>
    </div>
</div>

<hr>

<p class="lead">Jokes that aren't funny:</p>

<div class="row">
    <div class="col-lg-3">
        <h4>A husband and wife are trying to set up a new password for their computer.</h4>
        <p>The husband puts, "Mypenis," and the wife falls on the ground laughing because on the screen it says, "Error. Not long enough."</p>
    </div>
    <div class="col-lg-3">
        <h4>The teacher asked Jimmy, "Why is your cat at school today Jimmy?"</h4>
        <p>"Because I heard my daddy tell my mommy, 'I am going to eat that p*ssy once Jimmy leaves for school today!'".</p>
    </div>
    <div class="col-lg-3">
        <h4>Wife: "How would you describe me?" </h4>
        <p>Husband: "ABCDEFGHIJK."<br>
            Wife: "What does that mean?"<br>
            Husband: "Adorable, beautiful, cute, delightful, elegant, fashionable, gorgeous, and hot."<br>
            Wife: "Aw, thank you, but what about IJK?"<br>
            Husband: "I'm just kidding!"</p>
    </div>
    <div class="col-lg-3">
        <blockquote>
            <p>So... is this like imgur?</p>
            <footer>It's not.</footer>
        </blockquote>

        <blockquote>
            <p>Ummm, is it digg then?</p>
            <footer>No. What the hell is digg?</footer>
        </blockquote>

        <blockquote>
            <p>Looks like Google+ Photos to me.</p>
            <footer>Just put your stupid pictures in our albums and stop asking questions.</footer>
        </blockquote>
    </div>
</div>

